<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120479995300-tivnf25o268hlh5uqekkfo30jtgq843r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120479995300-tivnf25o268hlh5uqekkfo30jtgq843r</string>
	<key>API_KEY</key>
	<string>AIzaSyAwVrBuAo1MSKTEhOD1lQ9EnJj__tOQt2E</string>
	<key>GCM_SENDER_ID</key>
	<string>120479995300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheesetan.CCAttendance</string>
	<key>PROJECT_ID</key>
	<string>sst-ccattendance</string>
	<key>STORAGE_BUCKET</key>
	<string>sst-ccattendance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120479995300:ios:3503c6a1a88c4b7775dd31</string>
</dict>
</plist>